{% extends "dashboard.html" %}
{% block content %}
  <div class="card mt-3">
    <div class="card-header d-flex align-items-center justify-content-between">
      <strong class="mb-0">Jesuit Profiles</strong>
      {% if user.is_superuser %}
      <a href="{% url 'users:newAccount' %}">
        <button class="btn btn-primary btn-sm">Register New Jesuit</button>
      </a>
      {% endif %}
    </div>
    {% for user in accounts %}
      <div class="card-body d-flex align-items-center border-bottom">

        <div>
          <strong>Fr. {{ user.last_name }}, {{ user.first_name }}</strong><br>
          <small>Email: {{ user.email }}</small><br>
          <small>Viber:</br>
            {% for contact in contacts %}
                {% if user.id == contact.user_id %}
                    {{ contact.viber_id }}</br>
                {% endif %}
            {% endfor %}
          </small>
          
        </div>

        <div class="ms-auto d-flex gap-2">
            {% if request.user.is_superuser or request.user.id == user.id %}
            <a href="{% url 'users:addViber' user.id %}">
                <button class="btn btn-success btn-sm" type="submit">Edit Viber</button>
            </a>
            <a href="{% url 'users:editAccount' user.id %}">
                <button class="btn btn-secondary btn-sm" type="submit">Edit Profile</button>
            </a>
            {% endif %}
            
            {% if request.user.is_superuser %}
            <a href="#" onclick="confirmDeletion('{% url 'users:removeUser' user.id %}', 'priest');">
                <button class="btn btn-danger btn-sm">Delete Profile</button>
            </a>
            {% endif %}
        </div>
      </div>
    {% empty %}
      <div class="card-body">
        <p>No Jesuit accounts found.</p>
      </div>
    {% endfor %}
  </div>
{% endblock content %}